.chat {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
    max-width: 1200px;
    max-height: 90vh;
    margin: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
