.timeLine {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    mix-blend-mode: normal;
    opacity: 0.6;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        height: 2px;
        background: #f7f7f7;
        border: solid #fff;
        border-width: 0 10px;
    }

    &:before {
        margin-left: -100%;
    }

    &:after {
        margin-right: -100%;
    }
}
