.chatHeader {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
    max-width: 1200px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
    color: #706f6f;
    min-width: 600px;

    div {
        margin-right: 20px;

        &:first-child {
            text-transform: uppercase;
            margin-left: 20px;
        }
        
        &:last-child {
            margin-left: auto;
        }
    }
}
