.message {
    padding: 0 15px;
    margin: 10px 0;
    position: relative;
}

.usersMessage,
.personalMessage {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 12px 12px 12px 0px;
    max-width: 40%;
    width: max-content;
    padding: 15px;
    margin-bottom: 5px;
}

.usersMessage {
    background: #3674ff;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    max-width: 40%;
    margin-left: 40px;
    margin-right: 5px;
}

.personalMessageContainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;

    i {
        opacity: 0.5;
    }
}

.personalMessageIcons {
    display: flex;
    flex-direction: column;

    i {
        margin: 5px 0;
    }
}

.messageContainer {
    display: flex;
    align-items: center;

    i {
        opacity: 0.5;
    }
}

.liked {
    color: #f46b6b;
}

.personalMessage {
    background: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 0px 12px;
    color: #202020;
    max-width: 100%;
    margin-left: 5px;
}

.messageTime,
.personalMessageTime {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #202020;
    opacity: 0.4;
    margin-top: 5px;
    margin-left: 40px;
    max-width: 200px;
}

.personalMessageTime {
    margin-left: auto;
    text-align: end;
}
